/*
   FONT FAMILY
*/

.serif {        font-family: georgia, serif; }
.sans-serif {   font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
.font-fantasy { font-family: fantasy; }
.font-cursive { font-family: cursive; }
.font-mono {    font-family: monospace; }

@media screen and (min-width: 32em) {
  .serif-s        { font-family: georgia, serif; }
  .sans-serif-s   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-fantasy-s { font-family: fantasy; }
  .font-cursive-s { font-family: cursive; }
  .font-mono-s    { font-family: monospace; }
}

@media screen and (min-width:48em) {
  .serif-m        { font-family: georgia, serif; }
  .sans-serif-m   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-fantasy-m { font-family: fantasy; }
  .font-cursive-m { font-family: cursive; }
  .font-mono-m    { font-family: monospace; }
}

@media screen and (min-width: 96em) {
  .serif-l        { font-family: georgia, serif; }
  .sans-serif-l   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-fantasy-l { font-family: fantasy; }
  .font-cursive-l { font-family: cursive; }
  .font-mono-l    { font-family: monospace; }
}

